@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Lato:wght@300;400;700&display=swap'); */

body {
  font-family: 'Lato', sans-serif;
  background-color: #FAF7F2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}